* {
  margin: 0;
  padding: 0;
}
.fundo {
  background-image: linear-gradient(45deg, black, navy);
  height: 100vh;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.calculadora {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 15px;
}
.Botao {
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  margin: 3px;
  background-color: rgb(31, 31, 31);
  border: none;
  color: #fff;
}
.Botao:hover {
  background-color: black;
}
#Resultado {
  background-color: #fff;
  width: 207px;
  height: 30px;
  margin: 5px;
  font-size: 25px;
  color: black;
  text-align: right;
  padding: 5px;
}
